<ion-header>

</ion-header>

<ion-content>
  <div style="padding-left: 20px; padding-top: 30px;">
    <ion-label style="color:rgb(74, 72, 72) ; font-size: 1.220rem;">
      Public Services
    </ion-label>
  </div>
<ion-grid>
  <ion-row>
    <ion-col>
      <div style="border-radius: 7px;
       background-color: rgb(36, 35, 35);
       padding: 22px;
       text-align: center;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       height: 125px;">
       <ion-icon name="medal-outline" style="width:100%; color:rgb(86, 154, 86);" size="large"></ion-icon>
       <ion-label style="top:9px; position: relative;">Ehasn Services</ion-label>
      </div>
    </ion-col>
    <ion-col>
      <div style="border-radius: 7px;
       background-color: rgb(36, 35, 35);
       padding: 22px;
       text-align: center;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       height: 125px;">
       <ion-icon name="phone-portrait-outline" style="width:100%; color:rgb(86, 154, 86);" size="large"></ion-icon>
       <ion-label style="top:9px; position: relative;">Certify Mobile Number</ion-label>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div style="border-radius: 7px;
       background-color: rgb(36, 35, 35);
       padding: 22px;
       text-align: center;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       height: 125px;">
       <ion-icon name="laptop-outline" style="width:100%; color:rgb(86, 154, 86);" size="large"></ion-icon>
       <ion-label style="top:9px; position: relative;">Incidents Portal</ion-label>
      </div>
    </ion-col>
    <ion-col>
      <div style="border-radius: 7px;
       background-color: rgb(36, 35, 35);
       padding: 22px;
       text-align: center;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       height: 125px;">
       <ion-icon name="document-outline" style="width:100%; color:rgb(86, 154, 86);" size="large"></ion-icon>
       <ion-label style="top:9px; position: relative;">Information Correction</ion-label>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div style="
       border-radius: 7px;
       background-color: rgb(36, 35, 35);
       padding: 22px;
       text-align: center;
       display: flex;
       width: 174px;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       height: 125px;">
       <ion-icon name="clipboard-outline" style="width:100%; color:rgb(86, 154, 86);" size="large"></ion-icon>
       <ion-label style="top:9px; position: relative;">Twakkalna Passcode</ion-label>
      </div>

    </ion-col>
  </ion-row>
</ion-grid>
  <div style="padding-left: 20px; padding-top: 30px;">

    <ion-label style="color:rgb(74, 72, 72) ; font-size: 1.220rem;">
      Health Services
    </ion-label>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div style="border-radius: 7px;
         background-color: rgb(36, 35, 35);
         padding: 22px;
         text-align: center;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         height: 125px;">
         <ion-icon name="accessibility-outline" style="width:100%; color:rgb(86, 154, 86);" size="large"></ion-icon>
         <ion-label style="top:9px; position: relative;">Organ Donation</ion-label>
        </div>
      </ion-col>
      <ion-col>
        <div style="border-radius: 7px;
         background-color: rgb(36, 35, 35);
         padding: 22px;
         text-align: center;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         height: 125px;">
         <ion-icon name="medical-outline" style="width:100%; color:rgb(86, 154, 86);" size="large"></ion-icon>
         <ion-label style="top:9px; position: relative;">Ambulance Request</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div style="border-radius: 7px;
         background-color: rgb(36, 35, 35);
         padding: 22px;
         text-align: center;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         height: 125px;">
         <ion-icon name="map-outline" style="width:100%; color:rgb(86, 154, 86);" size="large"></ion-icon>
         <ion-label style="top:9px; position: relative;">SOS</ion-label>
        </div>
      </ion-col>
      <ion-col>
        <div style="border-radius: 7px;
         background-color: rgb(36, 35, 35);
         padding: 22px;
         text-align: center;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         height: 125px;">
         <ion-icon name="pint-outline" style="width:100%; color:rgb(86, 154, 86);" size="large"></ion-icon>
         <ion-label style="top:9px; position: relative;">Wasfaty</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
