<ion-header [translucent]="true">

  <ion-toolbar color="primary"
  style="
  display:flex;
  justify-content: center;
  font-size: 1.4rem;
  padding-top: 30px;
  padding-left: 20px;
  border-radius:0 0 25px 25px;">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>

      Good Afternoon,
 <ion-label *ngFor="let u of user" style="font-size: 1.4rem; text-transform: uppercase;"> {{u.name}}</ion-label>


  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div style="display:flex; justify-content: space-between;">
    <div >
      <ion-button fill="clear" style="color:#fff ;">
        <ion-icon name="calendar-outline">
        </ion-icon>
      </ion-button>
      <ion-button fill="clear" style="color:#fff ;">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>


    </div>

    <div>
      <ion-button fill="clear" style="color:#fff ;">
        <ion-icon name="eye-outline"></ion-icon>
    </ion-button>


      <ion-button fill="clear" style="color:#fff ;">
        <ion-icon name="notifications-outline">

        </ion-icon></ion-button>


    </div>

  </div>

<div style="padding:20px ;" *ngFor="let u of user">
  <ion-img [src]="u.idimage"></ion-img>

</div>

<ion-label style="margin-left:10px ; color: rgb(86, 154, 86);">Tasks</ion-label>


<div style="width:250px; height: 150px; background-color: #3a270975; margin-left: 17px; border-radius: 10px; margin-top: 25px; padding-top: 15px;">
  <ion-label style="
    margin-left: 20px;
    padding: 4px;

      background-color: #9a640c6f;
      border-radius: 6px;
      ">

      <ion-label style=" color: rgb(231, 151, 21); font-size: .800rem;">
        Soon
      </ion-label>



    </ion-label>

    <div style="margin-top:30px; padding-left: 10px;">
      <p style="color:  rgb(231, 151, 21);">In <span style="font-size:2rem ;">43</span> days</p>
    </div>



</div>

<div style="margin: 20px 0 0 10px;">
  <ion-label style=" color: rgb(86, 154, 86);">Top Services</ion-label>

</div>
<ion-grid>
  <ion-row>
    <ion-col>
      <div style="border-radius: 7px;
       background-color: rgb(36, 35, 35);
       padding: 22px;
       text-align: center;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       height: 90px;">

       <ion-icon name="documents-outline" style="width:100%; color:rgb(86, 154, 86);" size="large"></ion-icon>
       <ion-label style="top:9px; position: relative;">Issue Premits</ion-label>
      </div>
    </ion-col>
    <ion-col>
      <div style="border-radius: 7px;
       background-color: rgb(36, 35, 35);
       padding: 22px;
       text-align: center;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       height: 90px;">
       <ion-icon name="medical-outline" style="width:100%; color:rgb(86, 154, 86);" size="large"></ion-icon>
       <ion-label style="top:9px; position: relative;">AmbulanceRequest</ion-label>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
<div style="margin-top:30px; padding: 15px;">
  <ion-img src="../../../assets/Ehasn.jpeg"></ion-img>
</div>

</ion-content>
